body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e8eaee;
  height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.container{
  max-width: 20%;
  margin:0 auto;
  padding-top:2%;
  padding-bottom:3%;
}

input{
  background: #dfe1e5;
  color: #6d717f;
  height: 40px;
  border-radius: 3px;
  font-weight: bold;
  padding-left: 1%;
  outline: none;
  border: none;
  border-bottom: 5px solid #d4d6da;
  width: 100%;
  font-size:28px;
}


input.amount{
  background: none;
    font-size: 40px;
    width: 62px;
}

.gameInput, .amountInput{
  padding-bottom:2%;
}

.amountInput{
  text-align: left;
  font-size: 35px;
  font-weight: bold;
  color: #6d717f
}

.bonuses h2{
  color: #6d717f;
  border-bottom: 5px #d4d6da dotted;
}

button{
  background: #d4d6da;
    border: none;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #6d717f;
    padding: 1%;
    outline:none;
}

button:hover{
  cursor: pointer;
  background: #ced0d4;
}

.bonuses span{
  background: #dfe1e5;
    color: #6d717f;
    height: 40px;
    border-radius: 3px;
    font-weight: bold;
    padding-left: 1%;
    outline: none;
    border: none;
    border-bottom: 5px solid #d4d6da;
    font-size: 28px;
    padding: 2%;
}

.bonuses .game{
  width: 81%;
    display: inline-block;
}

.bonuses .value{
  width: 11%;
  display: inline-block;
}

.bonuses p{
  color: #6d717f;
}

.bonus{
  margin-bottom: 2%;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  width: 100%;
  border-top: 1px solid #e4e4e4;
}